<h1>About the Company</h1>

<div class="art-PostContent">
    <div class="art-article"><p style="text-align: justify;">"Alfa-ETEKS" is known on the fish product market since
        2001. <br> Activities of "Alfa-ETEKS" are focused on providing a full cycle: from the selection of raw fish, to
        the production and sale of finished products. <br> The company "Alfa-ETEKS" is a leader in the Ukraine in the
        export of fish and seafood products. <br> "Alfa-ETEKS" - is: <br> - A large fish processing plant; <br> - A wide
        range of products; <br> - Own-developed logistics system; <br> - A team of professionals who know their business
        thoroughly and are in love with it.</p>
        <table border="0" style="width: 699px; height: 24px;">
            <tbody>
            <tr>
                <td><img width="137" border="0" height="180" src="/static/img/about/zav3.jpg"></td>
                <td><img width="244" border="0" height="181" src="/static/img/about/zav2.jpg"></td>
                <td><img width="136" border="0" height="180" src="/static/img/about/zav4.jpg"></td>
                <td><img width="139" border="0" height="183" src="/static/img/about/zav1.jpg"></td>
            </tr>
            </tbody>
        </table>
        <p style="text-align: justify;"><strong><br><strong>Production</strong></strong><strong> </strong></p>

        <p style="text-align: justify;"><strong><img width="219" border="0" height="203"
                                                     style="float: left; margin: 5px;" title="iso 9001" alt="iso 9001"
                                                     src="/static/img/about/iso9001.jpg"></strong><strong>System of
            raw materials</strong><strong> quality control</strong> <br> Quality control system at the plant starts with
            the quality control of incoming raw materials. <br> Quality control of incoming raw materials begins when
            unloading. <br> At our enterprise commission with modern laboratory equipment works, which makes the
            sampling of fish and seafood for the study of physico-chemical and microbiological parameters. A card of
            incoming raw materials with a full description of organoleptic characteristics is compiled, as well as with
            the type of packaging, the type of cutting, weight characteristics, labeling, controlled by the presence and
            complying with all relevant supporting documents. <br> Raw materials, which at least one of the indicators
            does not meet the requirements will not be allowed for the preparation of products.</p>

        <p style="text-align: justify;">&nbsp;</p>
        <table border="0" style="width: 452px; height: 44px;">
            <tbody>
            <tr>
                <td><img width="350" border="0" height="261" src="/static/img/about/kk1.jpg"></td>
                <td><img width="350" border="0" height="261" src="/static/img/about/kk3.jpg"></td>
            </tr>
            <tr>
                <td><img width="351" border="0" height="262" src="/static/img/about/kk2.jpg"></td>
                <td>
                    <p><img width="350" border="0" height="262" src="/static/img/about/kk4.jpg"></p>
                </td>
            </tr>
            </tbody>
        </table>
        <p style="text-align: justify;"><strong>Workshop for the production of tinned fish</strong><br><br>Raw material
            before packing into tins (and while and after packing) is subjected to heat treatment. In this group, the
            following types of fish preserves are singled out.<br><strong><em><br>Preserves in tomato sauce
            </em></strong>are produced from various species of fish, pre-cut, dried, blanched or roasted. Prepared and
            packed in tins semi-finished product is poured with tomato sauce, tins are rolled and sterilized. Certain
            kinds of tinned preserves in tomato sauce are produced from raw materials without prior heat treatment with
            pouring into it concentrated tomato sauce. Preserves in tomato sauce are used as a cold staticetizer.</p>
        <table border="0" style="width: 692px; height: 210px;">
            <tbody>
            <tr>
                <td><img width="260" border="0" height="194" src="/static/img/about/ks3.jpg"></td>
                <td><img width="150" border="0" height="198" src="/static/img/about/kss1.jpg"><br></td>
                <td><img width="260" border="0" height="195" src="/static/img/about/ks2.jpg"></td>
            </tr>
            </tbody>
        </table>
        <p style="text-align: justify;"><em><strong>Preserves in vegetable oil</strong></em> are produced from different
            species of fish, pre-cut, smoked, roasted or blanched. Semi-finished product, packed in tins is &nbsp;poured
            with a high-quality vegetable oil or a mixture of oils, tins are rolled and sterilized. Preserves in
            vegetable oil&nbsp; are used as a snack.<br><br><em><strong>Fish and vegetables preserves </strong></em>are
            produced from a variety of fish and sturgeon milt with adding vegetables (onion, carrot, cabbage, pepper,
            chilli etc.). <br> Fish is pre-fried or blanched, vegetables are packed fresh or dry, rarely - in roasted.
            At present fish and vegetables preserves are produced in a wide range in the form of fried fish with
            vegetables, cabbage rolls, meatballs with the addition of various vegetable toppings, tomato sauce, butter,
            broths and hot savory fillings. These kinds of preserves are used in the form of cold staticetizers, as well as
            semi-finished products for the preparation of the first and second courses.</p>
        <table border="0" style="width: 670px; height: 24px;">
            <tbody>
            <tr>
                <td><img width="258" border="0" height="194" src="/static/img/about/krr1.jpg"><br></td>
                <td><img width="146" border="0" height="195" src="/static/img/about/krs2.jpg"></td>
                <td><img width="260" border="0" height="194" src="/static/img/about/krs3.jpg"></td>
            </tr>
            </tbody>
        </table>
        <p style="text-align: justify;"><em><strong> </strong><strong>Organic preserves</strong></em> are produced from
            pre-cut fish with a juicy and delicious meat. Cut fish is packed usually without heat treatment, adding
            salt. However, in the preservation of some species of fish spices, oil, gelling broth are sometimes added.
            Organic preserves have a high nutritional value, they are used for first and second courses, cold staticetizers
            and salads.</p>
        <table border="0" style="width: 668px; height: 24px;">
            <tbody>
            <tr>
                <td><img width="330" border="0" height="246" src="/static/img/about/kn2.jpg"></td>
                <td><img width="330" border="0" height="246" src="/static/img/about/kn3.jpg"></td>
            </tr>
            </tbody>
        </table>
        <table border="0" style="width: 673px; height: 24px;">
            <tbody>
            <tr>
                <td><img width="251" border="0" height="187" src="/static/img/about/kn1.jpg"></td>
                <td><img width="140" border="0" height="188" src="/static/img/about/kn4.jpg"></td>
                <td><img width="248" border="0" height="186" src="/static/img/about/kn5.jpg"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>