<h1>Awards</h1>
<table border="0" style="width: 669px; height: 577px;">
    <tbody>
    <tr>
        <td><img width="162" border="0" height="547" src="/static/img/awards/statuet%20visha%20proba.jpg"></td>
        <td style="text-align: justify;"><span style="font-size: small;"><span lang="en" class="result_box">Quality - one of the fundamental characteristics of the goods, which has a decisive impact on consumer demand and competitiveness. Our company is doing everything - that the quality of our products has always remained at the highest level. <br><br>The quality of our products appreciated by buyers in different countries.</span></span>

            <p><img width="540" border="0" height="417" src="/static/img/awards/diplom vish proba.jpg"></p>

            <p style="text-align: justify;"><span style="font-size: small;"><span lang="en" class="result_box">In 2004, our company was awarded "Vishcha test" for the high quality of our products.</span></span>
            </p>
        </td>
    </tr>
    </tbody>
</table>
<table border="0" style="width: 717px; height: 44px;">
    <tbody>
    <tr>
        <td>
            <p style="text-align: justify;"><span style="font-size: small;"><span lang="en" class="result_box">Our company is constantly evolving and improving. About this nomination demonstrates our company's European Quality Award.</span></span>
            </p>

            <p style="text-align: center;"><span style="font-size: small;"><img width="520" border="0" height="390"
                                                                                src="/static/img/awards/diplom european quality.jpg"></span>
            </p>

            <p style="text-align: justify;"><span style="font-size: small;"><span lang="en" class="result_box">The European Quality Award (EQA) - the most prestigious European award for achieving excellence in business</span></span>
            </p>
        </td>
        <td>
            <p style="text-align: center;">
                <img width="175" border="0" height="478" src="/static/img/awards/statuet european quality.jpg">
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p style="text-align: justify;">
    <span lang="en" id="result_box">Our company is always concerned about the safety of our products and the products according to all norms and standards. This is confirmed by certificates of food safety management <span
            style="font-size: medium;"><strong>HACCP</strong></span> and <strong><span style="font-size: medium;">ISO 22000: 2005</span></strong>.</span>
</p>

<p style="text-align: justify;"><img width="716" border="0" height="877"
                                     src="/static/img/awards/sertifikat haasp.jpg"></p>

<p style="text-align: justify;">&nbsp;</p>

<p style="text-align: justify;"><img width="705" border="0" height="841"
                                     src="/static/img/awards/sertifikat iso22000.jpg"></p>