<h1>Alpha-ETEKS</h1>
<p>"Alfa-ETEKS" produces canned fish and seafood.
    <br>
    Our company is one of the three leaders in the production and export.
    <br>
    The company "Alfa-ETEKS" is certified according to the international standards of quality management system ISO
    9001-2009, HAASP, ISO 22000: 2005.
    <br>
    "Alfa-ETEKS" has many years of experience of fish processing.
    <br>
    Our company has the necessary production equipment for the complete cycle of fish processing and production of
    canned fish, as well as experienced and highly qualified personnel. We produce a wide range of products.
    <br>
    <br>
    Types of products:
    <br>
    - Natural preserves;
    <br>
    - Tomato sauce preserves;
    <br>
    - Preserves in oil;
    <br>
    - Fish and vegetable preserves
    <br>
    <br>
    We do everything to make our customers satisfied. This is facilitated by strict quality control during the
    acceptance of raw materials, control of production and manufacturing operations, as well as strict quality
    control of the finished product.
    <br>
    Our own certified laboratory ensures quality control.
    <br>
    Strict selection of ingredients allows us to produce products with an unforgettable taste.
    <br>
    It makes no sense to mention the benefits of fish and fish products. Our products are not only tasty, but also
    useful. After all, fish products contain high amount of protein and fatty acids. Fish products should be included in
    the diet of all who care of their health.
    <br>
    Our company &ndash; is a multiple winner in various competitions in
    Ukraine and abroad.
</p>

<img class="img-responsive center-block" src="/static/img/f1.jpg">